{
  "extends": [
    "airbnb-base"
  ],
  "rules": {
    "no-console": 0,
    "no-underscore-dangle": 0,
    "camelcase": 0,
    "quotes": [
      "error",
      "single"
    ],
    "comma-dangle": [
      "error",
      "never"
    ]
  }
}
