[submodule "learning-rxjs"]
	path = learning-rxjs
	url = https://github.com/Brooooooklyn/learning-rxjs.git
[submodule "editor.md/editor.md"]
	path = editor.md/editor.md
	url = git@github.com:xiamu14/editor.md.git
[submodule "siema"]
	path = siema
	url = git@github.com:xiamu14/siema.git
[submodule "pen"]
	path = pen
	url = git@github.com:xiamu14/pen.git
[submodule "md.editor"]
	path = md.editor
	url = git@github.com:xiamu14/md.editor.git
[submodule "simpleTest"]
	path = simpleTest
	url = git@github.com:xiamu14/simpleTest.git
