[submodule "learning-rxjs"]
	path = learning-rxjs
	url = https://github.com/Brooooooklyn/learning-rxjs.git
[submodule "editor.md/editor.md"]
	path = editor.md/editor.md
	url = git@github.com:xiamu14/editor.md.git
[submodule "siema"]
	path = siema
	url = git@github.com:xiamu14/siema.git
[submodule "quill/monkey"]
	path = quill/monkey
	url = git@github.com:xiamu14/monkey.git
