{
  "plugins": [
      "import"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["airbnb-base"],
  "rules": {
    "no-console": 0,
    "quotes": ["error", "double"],
    "comma-dangle": ["error", "never"]
  }
}
