* {
  margin: 0;
  padding: 0;
  border: 0;
}

body, html {
  width: 100%;
  background-color: #000;
  /*height: 100%;*/
}

.block {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.bannerImageOut{
  position: relative;
}
.bannerBtn{
  display: block;
  position: absolute;
  width: 85px;
  height: 42px;
  bottom: 5px;
}
.btn_down{
  left: 50%;
  margin-left: 10px;
  background-image: url('../images/btn_down.png');
}
.btn_join{

  right:50%;
  margin-right: 10px;
  background-image: url('../images/btn_join.png');
}
.bannerImage {
  width: 100%;
  margin-top: -65px;
  display: block;
}

.banner {
  width: 200px;
  height: 37px;
  line-height: 35px;
  text-align: center;
  background-image: url('../images/exp_banner.png');
  margin: 0 auto;
  color: #fff;
  text-shadow: 1px 2px 1px #222;
}
@media screen and (min-width: 400px){
  .bannerBtn{
    bottom: 9px;
  }
}
@media screen and (max-width: 320px){
  .bannerBtn{
    bottom: 0px;
  }
}
.prizeImage{
  width: 100%;
  display: block;
}


.banner1 {
  margin: 25px auto 15px;
}

.banner2 {
  margin: 25px auto 15px;
}

.banner3 {
  margin: 25px auto 12px;
}

.banner4 {
  margin: 25px auto 12px;
}

.banner5 {
  margin: 25px auto 12px;
}

.banner6 {
  margin: 25px auto 12px;
}

.banner7 {
  margin: 27px auto 14px;
}

.title2 {
  width: 30px;
  height: 12px;
  background-image: url('../images/exp_2.png');
  margin: 25px auto 12px;
}

.head {
  opacity: 0.8;
  font-family: PingFangSC-Regular;
  font-size: 13px;
  color: #000000;
  line-height: 18px;
  margin: 0 0px
}

.prizeList {
  /*margin: 0 16px;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.prizeLi {
  /*background-color: #ccc;*/
  /*height: 100px;*/
  flex: 1.0;
  -webkit-flex: 1.0;
  -webkit-box-flex: 1.0;
  margin-right: 5px;
  position: relative;
}

.prizeLi:last-child {
  margin-right: 0px;
}

.prizeLiHead {
  width: 100%;
  height: 37px;
  line-height: 37px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  font-family: .PingFangSC-Semibold;
  font-size: 17px;
  color: #FFFFFF;
  position: relative;
}

.listContent {
  width: 100%;
  height: 390px;
}

.listContentLi {
  width: 100%;
  height: 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  /*定义子元素主轴对齐*/
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  /*定义子元素交叉轴对齐*/
  -webkit-box-align: center;
  align-items: center;
  -webkit-align-items: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.listContentLi:first-child .liNum {
  color: #FF5B00;
}

.listContentLi:nth-child(odd) {
  background-color: #fbedc7
}

.listContentLi:nth-child(even) {
  background-color: #fefbf4
}

.prizeLiHead:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  bottom: -8px;
}

.liName {
  opacity: 0.8;
  font-family: .PingFang-SC-Medium;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
}

.liNum {
  opacity: 0.8;
  font-family: BritannicBold;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  letter-spacing: 0;
}

.gree {
  background: #78CB69;
}

.gree:before {
  border-color: #78CB69 transparent transparent transparent;
}

.bule {
  background: #4CB2F1;
}

.bule:before {
  border-color: #4CB2F1 transparent transparent transparent;
}

.red {
  background: #FF954E;
}

.red:before {
  border-color: #FF954E transparent transparent transparent;
}

.list2_p {
  opacity: 0.8;
  font-family: PingFangSC-Regular;
  font-size: 13px;
  color: #000000;
  line-height: 18px;
  margin: 0 0px;
}

.note {
  opacity: 0.8;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #C36C15;
  margin: 10px 0px;
}

.tail {
  opacity: 0.8;
  font-family: PingFangSC-Regular;
  font-size: 10px;
  color: #C36C15;
  text-align: center;
  margin: 71px auto 21px;
}

.shareTail {
  margin: 71px auto 0px;
}

.shareBody {
  /*padding: 50px 0 0;*/
  position: relative;
}

.mainDiv {
  padding: 0px 21px 0;
  margin-top: -50px;
  margin-bottom: -50px;
  position: relative;
  background-image: url(../images/BJ2.png);
  background-repeat: repeat-y;
  background-size: contain;
}

.topImage {
  width: 100%;
  display: block;
}

.bottomImage {
  width: 100%;
  display: block;
}

.titleShare {
  font-family: MFTongXin_Noncommercial-Regular;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0;
  color: #fff;
}


.overBtn {
  display: block;
  width: 176px;
  height: 49px;
  margin: 25px auto;
  background-image: url('../images/question/down.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-family: MFTongXin_Noncommercial-Regular;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
}
