
div, main {
  box-sizing: border-box;
}
i {
  font-style: normal;
}
p {
  margin: 0;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear {
  clear: both;
}

.hide {
  display: none;
}

a {
  text-decoration: none;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, STHeitiSC-Light, "Microsoft YaHei", Arial, sans-serif;
  font-weight: 400;
}

