.gantt-container {
  margin: 0 auto;
  position: relative;
  width: 800px;
  overflow: visible;
}

.svg {
  width: 800px;
  height: 400px;
  position: absolute;
  border: 1px solid red;
  overflow: scroll;
}
.grid .tick {
  stroke: lightgrey;
  opacity: 0.3;
  shape-rendering: crispEdges;
}
.grid path {
  stroke-width: 0;
}
.tag {
  color: white;
  background: #fa283d;
  width: 150px;
  position: absolute;
  display: none;
  padding: 3px 6px;
  margin-left: -80px;
  font-size: 11px;
}

.tag::before {
  border: solid transparent;
  content: "";
  height: 0;
  left: 50%;
  margin-left: -5px;
  position: absolute;
  width: 0;
  border-width: 10px;
  border-bottom-color: #fa283d;
  top: -20px;
}

.grid-line{
  stroke: black;
  shape-rendering: crispEdges;
  stroke-opacity: .2;
}
