/* custom properties */

:root {
    --fontSize: 1rem;
    --mainColor: #12345678;
    --highlightColor: hwb(190, 35%, 20%);
}


/* custom properties set & @apply rule */

:root {
    --centered: {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    ;
}